{% extends 'base_site.html' %}

{% block title %}Choose a Double Round{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'trivia:index' %}">Home</a>
&rsaquo; <a href="{% url 'trivia:games' %}">Game List</a>
&rsaquo; <a href="{% url 'trivia:game_detail' round.game_id %}">{{ round.game }}</a>
&rsaquo; {{ round }}
</div>
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit">
</form>

{% endblock %}