{% extends 'base_site.html' %}

{% block title %}Final Answer Check{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'trivia:index' %}">Home</a>
&rsaquo; <a href="{% url 'trivia:games' %}">Game List</a>
&rsaquo; <a href="{% url 'trivia:game_detail' game %}">
    {% with final_answers|first as final %}
    {{ final.final_round.game }}
    {% endwith %}
</a>
&rsaquo; Final Answer Check
</div>
{% endblock %}

{% block content %}

<p>{{ final_answers.first.final_round.question }}</p>
<strong>
<p>{{ final_answers.first.final_round.answer }}</p>
</strong>

<form method="post">
    {% csrf_token %}
    <table>
        <thead>
            <th>Player</th>
            <th>Answer</th>
            <th>Correct?</th>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.id }}
                <tr>
                    {% for a in final_answers %}
                    {% if a.id == form.instance.id %}
                    <td>{{ a.player }}</td>
                    <td>{{ a.response }}</td>
                    {% endif %}
                    {% endfor %}
                    <td>{{ form.correct }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}