{% extends 'base_site.html' %}

{% block title %}Manage Questions{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'trivia:index' %}">Home</a>
&rsaquo; <a href="{% url 'trivia:manage' %}">Manage</a>
&rsaquo; Questions
</div>
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
        {% for form in formset %}
            {{ form.id }}
            <tr>
                <td>{{ form.question }}</td>
                <td>{{ form.answer }}</td>
                <td>{{ form.alt_answers }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}