{% extends "base_site.html" %}

{% block title %}Answer Time{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'trivia:index' %}">Home</a>
&rsaquo; <a href="{% url 'trivia:games' %}">Game List</a>
{% if object %}
&rsaquo; <a href="{% url 'trivia:game_detail' object.question.round.game.id %}">{{ object.question.round.game }}</a>
&rsaquo; <a href="{% url 'trivia:round_detail' object.question.round.id %}">{{ object.question.round }}</a>
{% else %}
&rsaquo; <a href="{% url 'trivia:game_detail' question.round.game.id %}">{{ question.round.game }}</a>
&rsaquo; <a href="{% url 'trivia:round_detail' question.round.id %}">{{ question.round }}</a>
{% endif %}
&rsaquo; Answer
</div>
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% firstof object.question question %}
    {{ form.as_p}}
    <input type="submit" value="Submit">
</form>

{% endblock %}